 <div class="open_wrapper">
  <div id="example_js_workout_timer">

    <div class="coh-style-headless-app-clock">

      <div class="row">
    
        <div class="g-100">
    
          <h1 class="clock__title">Abriu Skol? O tempo abriu.</h1>
    
          <h2 class="clock__sub-title">Contagem regressiva para o churrasco...</h2>
    
          <div class="clock__counter">00</div>
    
          <div class="clock__round-counter">0/8</div>
    
        </div>
    
      </div>	
    
      <div class="row">
    
        <div class="g-33">Round (in sec.) <input id="input_round" type="text" value="20"></div>
    
        <div class="g-33">Pause (in sec.): <input id="input_pause" type="text" value="10"></div>
    
        <div class="g-33">Number of Rounds: <input id="input_cycles" type="text" value="8"></div>
    
        <div class="g-50"><button class="controller__button-start" onclick="start();">Start!</button></div>
    
        <div class="g-50"><button class="controller__button-stop" onclick="stop();">Stop!</button></div>
    
      </div>
    
      <div class="row">
    
        <div class="g-100 info">This is a demonstration of a Headless Application running on Acquia Site Factory.</a>
          <br><br>Based on Workout Timer app from codepen.io
          <br>See the full app <a href="https://codepen.io/NilsWe/pen/CngtK">here</a>
        </div>
    
      </div>	
    
    </div>

  </div>
</div>

